[2017-06-09 13:21] ISNIT0 commented on #1
If you want, I can do a Skype call with you and walk through what we already have?

[2017-06-09 14:28] okkebal commented on #1
I saw somewhere it is based on mwoffliner. I guess I'll take a look at that first. I've just worked on Sotoki, but that is Python and very different from mwoffliner. I see MWoffliner uses JS and Node. The code there seems pretty readable.

I have some experience with JS, but not with Node. I guess I'll spend most of my time trying to install mwoffliner. I am really bad at these Linux installs. Tak

[2017-06-10 11:47] ISNIT0 commented on #1
We did use mwoffliner, but because of the version of MediaWiki that wikihow uses, it won't behave as it should.

I believe @kelson42 and I agreed this needed it's own scraper.

I've got some code somewhere locally that is a start, but I'll need to dig it out and see what needs doing.

I'm hoping to pull some of the logic from https://github.com/openzim/phet into a separate module and use that in t

[2017-06-10 12:37] kelson42 commented on #1
@ISNIT0 @okkebal WikiHow uses Mediawiki so we thought we could mwoffliner. But it looks like WH has many particularities (@ISNIT0 knows the details). The ideal solution would to use mwoffliner library as a base but build on the top of it the necessary handling of that particularities. That is why I have created a dedicated git repo for it. https://github.com/openzim/wikihow. @ISNIT0 could maybe up

[2021-07-21 15:28] rgaudin opened #1 "Toolbox POC"
In order to validate adequacy of tools and methodology, we want to build a mini proto scraper with super limited capabilities:

- Python script (can have dependencies).
- Docker not necessary.
- Takes a language code as input
- Outputs a ZIM file
- Uses https://github.com/openzim/python-scraperlib
- Zim file should contain:
  - a Welcome page with a WikiHow inspired theme (coloring)
  - with the l

[2021-07-28 11:30] rgaudin commented on #1
Done.

[2021-07-28 11:30] #1 closed, assigned to rgaudin

[2021-07-28 11:34] rgaudin opened #2 "Basic scraper structure"
- entrypoint with basic params: commons, lang, S3, low-quality, no-external-links
- scraper
- templates
- dependencies
- Dockerfile
- codefactor
- black CI
- docker Workflow

[2021-07-28 11:35] rgaudin opened #3 "Base Templates"
- Header with Logo
- Content space
- Footer with links to support content

[2021-07-28 11:36] rgaudin opened #4 "Basic scraping walker"
Basic addition of all content by traversing:

- homepage
- Special:CategoryListing or Special:Sitemap
- categories listed inside main categories (should walk through category graph recursively)
- Articles
- Support content:
    - About (footer)
    - Experts (footer)
    - Delivering-a-Trustworthy-Experience
    - Mission (About)
    - Hybrid-Organization (About)
    - Powered-and-Inspired-by-Medi

[2021-07-28 11:36] rgaudin opened #5 "Article Template"
- Pre-content: Categories breadcrumb, title
- NO pdf button
- Intro: Table Of Content, Author, Description
- Content without PDF buttons
- Q&A with scores but not actionnable nor «Ask a question block»
- Tips if any
- Video if any
- Relateds
- About this article:
    - score not actionnable
    - without interwiki links (langs)
    - wihout print/mail
- wihout «is this article up to date?»

[2021-07-28 11:42] rgaudin opened #6 "Concurrency"
- Introduce parrallel processing for scraping/image/videos
- Strategy TBD.

[2021-07-28 11:43] rgaudin opened #7 "Images support"
- All images added to zim
- images src rewritten to in-zim path
- images optimized: converted to WebP and optimized
- S3 support: downloaded from cache or uploaded to

[2021-07-28 11:43] rgaudin opened #8 "Videos support"
- All videos added to zim
- video code replaced with our player from openzim/youtube
- video downloaded from files (in-step videos) or Youtube (support video)
- video converted to WebP and optimized
- S3 support: downloaded from cache or uploaded to

[2021-07-28 11:44] rgaudin opened #9 "Localization"
Setup localization for templates and strings for each suported language

[2021-07-28 11:44] rgaudin opened #10 "Polishing"
- Finalize metadata, U.I polishing, etc.
- Finalize scraper behavior and logging.

TBD

[2021-08-06 14:17] #2 closed, assigned to ElenaKusevska

[2021-08-13 09:15] #3 closed, assigned to ElenaKusevska

[2021-08-17 05:00] kelson42 opened #15 "Setup CI"
* code factor
* Minimal automated testing
* Minimal code coverage

[2021-08-17 05:01] kelson42 opened #16 "Create stub readme file"
With standards sections

[2021-08-17 08:38] rgaudin commented on #15
AFAIK, there's not much we can do on CI with codefactor. codefactor is subscribed to events on our repo and updates its platform on every commit and PRs (and interacts with PRs of course). It's not actionable in a way we'd expect there.

We can initiate a small run of the scraper, as we do in sotoki. Will require a dedicated option as no languages is small enough for this task I believe.

I'd advi

[2021-08-19 19:51] #4 closed, assigned to ElenaKusevska

[2021-08-19 19:51] #5 closed, assigned to ElenaKusevska

[2021-08-20 08:46] rgaudin opened #18 "Use lang-specific links"
Links to categories in the pages we scrape are prefixed `Category:` in English but the prefix is translated in other languages (`Catégorie:` in French for instance).

We need to add our categories at the translated paths in order for links to work without rewriting.

- [ ] find out and record prefix in metadata step
- [ ] find out home page path (`Main-Page` in English vs `Accueil` in French)
- [

[2021-08-20 12:19] #16 closed, assigned to rgaudin

[2021-08-20 12:33] rgaudin opened #21 "Rewrite links to paginated pages"
Some categories have a pagination on the list of articles.

First page is at `Category:Name` and subsequent ones at `Category:Name?pg={num}`.

We already scrape all of them and include them in the zim but obviously we can't add the query string so we add those at `Category:Name_pg={num}`.

We now need to:
- [ ] fix the pagination links in the category page when we add it
- [ ] add a `?pg=` to `_pg

[2021-08-20 16:01] #18 closed, assigned to fadiga

[2021-08-23 08:50] rgaudin opened #23 "Use scraperlib for requests"
We currently fetch pages using a simple `requests` call which means not retry upon errors which is probably gonna be a problem on larger runs.

We should use `zimscraperlib.download.stream_file` instead.

[2021-08-23 09:45] rgaudin opened #25 "Discuss image strategy"
wikiHow uses several image formats through the website:

- PNG and JPEG obviously
- SVG
- WebP

## SVG

SVG is a text-based vector format for which we have no optimizer (yet) on scraperlib. Unlike bitmap formats, it is expected vector ones to scale without quality loss. We can thus consider SVG users to expect unaltered image at any size, whatever the *source image sizes* are.

Currently, we treat

[2021-08-23 09:51] rgaudin opened #26 "Handle math images correctly"
Our current imager has different handling of images based on extension. This results in images without extension to be considered bitmap and thus added/server as `image/webp` in the zim.

As a consequence, math formulas, which ultimately renders as SVG from the wikimedia servers are broken

Example in [Write-a-Python-Program-to-Calculate-Pi](https://www.wikihow.com/Write-a-Python-Program-to-Calcul

[2021-08-23 09:53] rgaudin opened #27 "Handle code highlighting"
Code highlighting is not displayed with appropriate colors. As we download HTML from wikiHow, we already have the source code properly wrapped but we miss the CSS part that triggers the colors.

[2021-08-23 10:05] rgaudin opened #28 "Add footer pages"
We have a number of links in our base footer. We need to include their content in the ZIM. Most come from well-know locations:

- `About wikiHow`: `/wikiHow:About-wikiHow`
- `Contact Us`: `/wikiHow:Contact-Us`
- `Site Map`: `/Special:Sitemap`
- `Terms of Use`: `/wikiHow:Terms-of-Use`
- Experts

The first four could be listed in the code as those resolve from a standard link. The expert link is dif

[2021-08-23 10:06] rgaudin opened #29 "Fix references link"
In articles, references link (anchors) are not working

[2021-08-23 10:09] rgaudin opened #30 "Remove links to unresolved pages"
Some *support* pages (in `wikiHow:`) link to `/User_talk` for instance, as way to contact the team. We won't include such pages so the rewriter should be aware of patterns to look for and remove links to. Alternatively, it could convert those to external, online links.

[2021-08-23 10:11] rgaudin opened #31 "Include wikiHow: namespace"
Not sure exactly how we'd be able to get a list of those pages, but it seems that most support pages are on wikiHow: namespace. Ideally, we'd always want to capture this whole namespace (expect if using a `--no-wikihow-ns` option?) to capture those.

Maybe we can't get a list of NS articles and we just recursively fetch what we find in #28

Same goes for `/Author` profile pages

[2021-08-23 10:39] kelson42 commented on #31
Do we have important pages to scrape in this namesapce? If "yes" a few examples would be helpful.

[2021-08-23 10:42] rgaudin commented on #31
As written in the ticket:

Those include several links all within that namespace. @kelson42 is there a wiki way to list pages in this namespace ? Search maybe ?

[2021-08-23 10:42] kelson42 commented on #25
I there any reason to have a different strategy than for our other (recent) scrapers? To me the only thing which is not obvious might be SVG handling.

[2021-08-23 10:43] rgaudin commented on #25
Please read the ticket

[2021-08-23 11:05] rgaudin commented on #25
After discussing this with @kelson42, here's what we have decided:

- SVG: we upload the source for now on S3 (no change).
- https://github.com/openzim/python-scraperlib/issues/80 will add an optimizer at some point. Once done, we'll use it.
- WebP: re-encode and upload (no change)

[2021-08-23 11:05] #25 closed, assigned to nobody

[2021-08-23 11:10] rgaudin opened #32 "Ensure DOM integrity"
As the scraper heavily relies on DOM queries, it is important we are able to detect any major change to the source HTML (like a skin change ?) to halt the scraper. Otherwise, we'd produce broken ZIM files.

I suggest we add an early function call that would test the various DOM selectors we use in sample Category/Article page to ensure what we expect to retrieve is present. This would thus fail th

[2021-08-23 11:31] #21 closed, assigned to fadiga

[2021-08-23 11:31] #7 closed, assigned to rgaudin

[2021-08-23 14:57] #23 closed, assigned to fadiga

[2021-08-23 16:50] kelson42 commented on #31
Yes via the API, we do such a call in MWoffliner to get the list of articles.

[2021-08-23 16:53] rgaudin commented on #31
Do you happen to know the end-point? So that we can directly look for details on mw.org

[2021-08-23 17:00] rgaudin commented on #31
Thank you @kelson42

For reference:

https://www.mediawiki.org/wiki/API:Allpages#GET_request

[code]

[2021-08-23 17:02] rgaudin commented on #31
Seems like there's way too much ages in that NS for our use case though :/

[2021-08-23 17:16] #26 closed, assigned to fadiga

[2021-08-23 20:07] #29 closed, assigned to fadiga

[2021-08-24 10:24] rgaudin opened #36 "Add breadcrumb"
wikiHow footer has bread crumbs in the footer. We should add it as well.
<img width="393" alt="Screen Shot 2021-08-24 at 10 19 54" src="https://user-images.githubusercontent.com/57929/130600435-76b52b28-f6c6-40fd-b2b9-7f3b3b0a9f5e.png">

[2021-08-24 10:34] rgaudin opened #37 "Article: missing related"
<img width="886" alt="Screen Shot 2021-08-24 at 10 34 32" src="https://user-images.githubusercontent.com/57929/130602088-0874ad3a-4360-4a2a-834a-7c232c071f5a.png">

[2021-08-24 10:37] rgaudin opened #38 "Article: footer style"
![Screen Shot 2021-08-24 at 10 36 37](https://user-images.githubusercontent.com/57929/130602396-6b8fc591-5bc3-45e5-9c3a-aac586c2713a.png)

[2021-08-24 11:13] rgaudin opened #39 "Article: reference block style"
When there are many references, there's a *more references* link to expand. Before clicking that link, the whole block style is not of the right width

<img width="801" alt="Screen Shot 2021-08-24 at 11 12 31" src="https://user-images.githubusercontent.com/57929/130606970-89a64a5e-d41c-4f80-89d5-37fd8bbdedd7.png">

[2021-08-24 11:17] rgaudin opened #40 "CategoryListing redirect"
Articles's breadcrumb links to the `Special:CategoryListing` what we used for our homepage.

We need to add a redirect from this path to our Main-page so that links to it continue to work.

Should we decide to change the homepage later, we'll remove the redirect and add the page.

[2021-08-24 16:57] fadiga opened #42 "`ar` and `fa` languages raises 404 while scraping"
[code]

[2021-08-24 17:47] #27 closed, assigned to fadiga

[2021-08-25 10:06] rgaudin opened #43 "Handle legit 404"
It seems that (some?) login-only (contribution-related) pages are using a `404` HTTP code.

You can see this in action in [Category:Amusement-and-Theme-Parks](https://www.wikihow.com/Category:Amusement-and-Theme-Parks), clicking the last article link [Write a New Article About Visiting a Theme Park on wikiHow](https://www.wikihow.com/wikiHow:Write-a-New-Article-About-Visiting-a-Theme-Park-on-wikiH

[2021-08-25 10:11] kelson42 commented on #43
FYI With MWoffliner we have a few legit scenarios leading to a HTTP 404. Therefore we allow it, to the contrary to other HTTP errors.

[2021-08-25 10:12] rgaudin commented on #43
Yep, that's what I figured. Thanks for confirming this is not unexpected behavior.

[2021-08-27 19:27] #43 closed, assigned to fadiga

[2021-08-30 09:22] rgaudin commented on #9
Moving this to M3 as there's nothing to localize at the moment ; but we haven't played much with other languages.

Maybe a custom homepage will require this…

[2021-08-30 10:20] rgaudin commented on #42
This has been fixed, probably via #43

[2021-08-30 10:20] #42 closed, assigned to nobody

[2021-08-31 11:29] rgaudin opened #46 "Handle missing Category"
It seems there can be links to missing Categories (404). Our run failed on the missing [Category:Paper-for-Drawing](https://www.wikihow.com/Category:Paper-for-Drawing).

It is a listed sub-category in [Category:Stationery](https://www.wikihow.com/Category:Stationery).
We should not fail on those, but as for articles, log them and count them.

⚠️ this currently prevents us from running `wikihow_en`

[2021-08-31 15:30] #46 closed, assigned to fadiga

[2021-09-02 15:53] #6 closed, assigned to fadiga

[2021-09-02 15:53] #8 closed, assigned to fadiga

[2021-09-02 16:26] #37 closed, assigned to fadiga

[2021-09-02 18:02] #28 closed, assigned to fadiga

[2021-09-03 04:50] kelson42 opened #50 "Generated zim filename is wrong"
The language code is iso3, it should be iso2.

[2021-09-03 06:38] kelson42 opened #51 "Implement progression"

[2021-09-03 07:03] Popolechien opened #52 "Filter out copyrighted material"
We have permission from the WH folks, with one caveat: we cannot scrape pages with copyrighted material (images). Apparently they're under a specific module so should be fairly easy to parse (it's not too apparent though for a random viewer).

@rgaudin @fadiga Do you need me to reach out to them to have them flag a couple of these?

[2021-09-03 07:12] kelson42 commented on #52
@Popolechien yes, we need to clearly know the criteria

[2021-09-03 07:17] rgaudin commented on #52
Why am I learning about this only now?

[2021-09-03 07:42] #50 closed, assigned to rgaudin

[2021-09-03 07:54] dsd opened #53 "Filter out sexual and any other inappropriate content"
We would like to remove sex-related content and any other content inappropriate for minors.
This likely calls for a blacklist of certain articles and categories.

cc @ramcq

[2021-09-03 10:54] kelson42 commented on #53
@rgaudin would such a principle workable? for articles? For categories?

[2021-09-03 10:58] rgaudin commented on #53
Yes, we can surely add an `--exclude` option that would take a single column file (as we do for our mw selections) with a list of Article or Category paths.

@dsd could either maintain a single large file or per-language list. Should make much difference.

[2021-09-03 14:36] fadiga opened #54 "Fix experts page for all languages"
Il n'y a pas de redirection qui pointe vers la page des experts. Chaque langue a son propre article.
Il faut utiliser un mapping de ces pages par langue.

[2021-09-03 14:58] fadiga opened #55 "Missing titles in English Category pages."
Les titres des articles ne s’affichent pas sur la page de catégorie en anglais.

[2021-09-03 17:33] #38 closed, assigned to fadiga

[2021-09-03 19:56] kelson42 opened #57 "Counter metadata seems wrong"
http://dev.library.kiwix.org/wikihow_eng_all_2021-08/M/Counter

[2021-09-04 07:24] kelson42 opened #58 "Dockerfile misses ffmpeg"
Not sure what it is or if this is bad, but looks hugly:
[code]

[2021-09-04 07:37] kelson42 opened #59 "Full text search unavailable"
Both searches are unavailable at: http://dev.library.kiwix.org/wikihow_eng_all_2021-08/C/Main-Page.

I get the suggestions but nothing happens when I click on an item

[2021-09-04 07:41] kelson42 opened #60 "" Expert Q&A " sections should be removed"
Like here: http://dev.library.kiwix.org/wikihow_eng_all_2021-08/C/Take-Pets-on-Beach-Vacations#Questions_and_Answers_sub

There is probably a few other sections to remove which are not pertinent in an offline context.

[2021-09-04 09:10] rgaudin commented on #59
only old kiwix serve has this bug.

[2021-09-04 09:14] kelson42 commented on #59
ok, still a bit worried about that... @mgautierfr anything which can be done abpit that?

[2021-09-04 09:17] rgaudin commented on #59
Given we get the list right, it's probably a UI issue : css or script conflicting with kiwix serve's toolbar (already raised the iframe issue enough 😉).
that's looking at this that I found the jquery error in console on latest kiwix serve.

[2021-09-04 13:11] kelson42 opened #61 "Use new “wikihow” category"
See, http://dev.library.kiwix.org/wikihow_eng_all_2021-08/M/Tags should be "wikihow" in place of "other".

[2021-09-04 13:26] kelson42 commented on #53
@dsd I propose the following workflow:
* We secure there is a `--exclude` option in the scraper like described 2 comments above by @rgaudin
* You prepare and maintain the blacklist(s) and publish them online (available via https)
* We will secure dedicated recipes in Zimfarm integrating this blacklist(s)
* We will publish this/these ZIM special flavour of wikiHow in a dedicated online place (like

[2021-09-04 14:19] kelson42 commented on #59
actually only suggestions work with cutting edge kiwix serve.

[2021-09-04 14:34] kelson42 opened #62 "WikiHow in japanese as an other URL structure"
We could have thought thst this would be https://jp.wikihow.com... but it is https://wikihow.jp.

Therefore, this version of wikiHow seems not scrapable yet.

[2021-09-04 14:36] kelson42 commented on #62
For Farsi, this is wikihowfarsi.com

[2021-09-04 14:36] rgaudin commented on #62
Japanese language code is `ja`, as show in `--help`. Please RTFM :)

[2021-09-04 14:36] #62 closed, assigned to nobody

[2021-09-04 14:38] kelson42 commented on #62
wikihow.com.tr for turkish

[2021-09-04 14:38] rgaudin commented on #62
Can you please stop ?

[2021-09-04 14:39] kelson42 commented on #62
wikihow.cz for czeck

[2021-09-04 14:40] rgaudin commented on #62
OK, I'm unsubscribing from this

[2021-09-04 15:09] #58 closed, assigned to rgaudin

[2021-09-04 15:30] #61 closed, assigned to rgaudin

[2021-09-06 04:50] kevinmcmurtrie opened #63 "Scraper slows to a halt"
https://farm.openzim.org/pipeline/d94bcb96ed84cda038293316/debug
https://farm.openzim.org/pipeline/de4bcb96ed84cda0f8293316/debug
https://farm.openzim.org/pipeline/b15bcb96ed84cda059293316/debug

One scraper halted with idle CPU, one halted at 100% CPU, another was at 100% CPU and progressing too slowly to ever complete.   All seemed to be stuck attempting to download content.

[2021-09-06 06:19] rgaudin commented on #63
Thanks; I think the throttle mechanism they warned us about is at place. @kelson42 opened a ticket on zimfarm so we enable our platform-limit feature.

[2021-09-06 09:00] kelson42 commented on #63
Yes, this ticket can be considered as a duplicate of https://github.com/openzim/zimfarm/issues/641

[2021-09-06 13:38] rgaudin commented on #59
OK, this was a libzim version issue. Running it with the latest one we built fixed it:

<img width="920" alt="Screen Shot 2021-09-06 at 13 37 58" src="https://user-images.githubusercontent.com/57929/132225760-63882154-f07e-40f5-a704-38d525974fae.png">

https://dev.library.kiwix.org/search?content=wikihow_id_selection_2021-09&pattern=sepatu+

[2021-09-06 13:38] #59 closed, assigned to nobody

[2021-09-06 13:56] rgaudin commented on #31
We actually don't need it.

[2021-09-06 13:56] #31 closed, assigned to fadiga

[2021-09-06 14:03] fadiga commented on #30
All links on the Support page have been removed.

[2021-09-06 14:03] #30 closed, assigned to fadiga

[2021-09-06 15:12] #40 closed, assigned to fadiga

[2021-09-06 16:04] #60 closed, assigned to nobody

[2021-09-07 07:21] #55 closed, assigned to fadiga

[2021-09-07 07:26] rgaudin commented on #10
I think points above are already covered.

Another important point is to ensure the ZIM works fine on mobile devices. We fixed a few visual issues in CSS due to some wikihow weirdness ; those might require media queries to adapt to screen sizes.

[2021-09-07 14:13] rgaudin opened #67 "Remove Category Promo"
On top of some categories (Family-Life for instance), there is a promo block on top (only in wide desktop mode) that needs to be removed: `.cat-promo`

<img width="1103" alt="Screen Shot 2021-09-07 at 14 13 00" src="https://user-images.githubusercontent.com/57929/132359771-a40af5f1-056c-46df-b1c1-ebcac312f771.png">

[2021-09-07 14:27] fadiga commented on #39
It is fixed

[2021-09-07 14:27] #39 closed, assigned to fadiga

[2021-09-07 16:14] rgaudin commented on #57
@kelson42, I don't seem to have any other way but to run an old version of kiwix-serve to access the Counter… Even zimdump doesn't return it.

I can't find any issue on libkiwix nor kiwix-tools about it but I believe we talked about it in the past.

[2021-09-07 16:16] kelson42 commented on #57
@mgautierfr what is the strayegy to dump/inspect the Metadata namespace?

[2021-09-07 16:34] #36 closed, assigned to fadiga

[2021-09-08 06:51] kelson42 opened #69 "Footer: Put links at the same vertical level like the logo"
This looks pretty weird and does not optimize the space usage of the screen
![image](https://user-images.githubusercontent.com/1029718/132460453-b52441b3-8e96-4ac7-84e5-63b81ca56499.png)

[2021-09-08 06:58] kelson42 opened #70 "Include releated links in scraping list"
It seems there are cross articles links which are missing, see with WikiHow TR:
[code]

[2021-09-08 06:59] kelson42 opened #71 "Set language-specific footer links"
At least not on wikiHow TR

[2021-09-08 07:14] kelson42 opened #72 "Remove page views number"
![image](https://user-images.githubusercontent.com/1029718/132463367-ca7058ab-ba5c-4eda-89b3-4e50b1b7fa06.png)

To me tha added value online is questionable... but offline, this does not make sense. I would just delete it.

[2021-09-08 07:16] kelson42 opened #73 "Images/Videos should have meaningfull names"
This does not ease the re-usage of the content and is not necessary (we don't deal with so many files in this scraper). We should keep the original filename.

[2021-09-08 07:27] rgaudin commented on #72
We kept it on purpose in sotoki but there the notion of DB dump is slightly more explicit. It's the main indicator of popularity so it is important but as always, this is misleading offline. I have no opinion on this. @Popolechien

[2021-09-08 07:34] rgaudin commented on #73
It's not possible to guarantee meaningful names.

We can surely reuse original filenames. At least Step photos mostly have descriptive names: `v4-728px-Celebrate-Father%27s-Day-Step-1.jpg`

Or we can slugify `<img />`'s `alt` attribute, when present: `image-intitulee-celebrate-father-s-day-step-1`.

Please advise.

[2021-09-08 07:36] rgaudin commented on #71
Actually, footer links are different based on language. Goal is to get the links based on the language. That will fix the English names of those links as well.

[2021-09-08 07:45] rgaudin commented on #69
That version didn't have the bread crumbs that appear on top of that separation line. With them, and the links atop, it will be very packed.

Also, I don't think it looks weird. Kinda subjective obviously.

As for space optimization, this is the very bottom of the screen… and it looks different on mobile.

Finally, I'd prefer us not to meddle with wikiHow's UI unless necessary.

I'd suggest we clo

[2021-09-08 08:05] Popolechien commented on #72
We can keep it as hidden if this helps sorting / displaying solutions on the front page, but otherwise I see no point in displaying a stale number.

[2021-09-08 08:22] rgaudin commented on #72
OK, let's remove it then.

[2021-09-08 09:36] mgautierfr commented on #57
Using the libzim : [`Archive::getMetadataKeys`](https://libzim.readthedocs.io/en/latest/api/classzim_1_1Archive.html#_CPPv4NK3zim7Archive15getMetadataKeysEv) and [`Archive::getMetadata`](https://libzim.readthedocs.io/en/latest/api/classzim_1_1Archive.html#_CPPv4NK3zim7Archive11getMetadataERKNSt6stringE)
We have them in python-libzim (https://github.com/openzim/python-libzim/blob/master/libzim/wrap

[2021-09-08 09:42] rgaudin commented on #70
@kelson42, please create more focus issues so it's easier to triage and fix.

Regarding this particular issue, it appears not all articles are listed in their category.  For instance [Ayaktaki Su Toplaması Nasıl Tedavi Edilir](https://www.wikihow.com.tr/Ayaktaki-Su-Toplamas%C4%B1-Nas%C4%B1l-Tedavi-Edilir) has [Sağlık](https://www.wikihow.com.tr/Kategori:Sa%C4%9Fl%C4%B1k) Category but is not listed

[2021-09-08 09:50] rgaudin commented on #57
@mgautierfr thanks for the answer. I forgot that `Counter` is a *regular* metadata. Since we're not writing it, I though it was handled differently. I do have access to it via pylibzim reader.

Regarding kiwix-serve, we do have access to the illustration: http://dev.library.kiwix.org/meta?name=Illustration_48x48@1&content=wikihow_tr_all_2021-09

~~But that's about it. `Title` for instance is not a

[2021-09-08 15:00] #67 closed, assigned to fadiga

[2021-09-08 15:00] #72 closed, assigned to fadiga

[2021-09-09 07:03] kelson42 commented on #53
@dsd We are approaching the end of the project. Any news on your side about such blacklists?

[2021-09-09 07:05] kelson42 commented on #52
Without a clear machine readable way of identifying such content, the implementation of this ticket will have to be postponed.

[2021-09-09 07:06] kelson42 commented on #73
I advise to take the original filename.

[2021-09-09 07:09] #69 closed, assigned to nobody

[2021-09-09 07:12] kelson42 commented on #70
If we finally achieve to fix this kind of problem without relying on the API, I would be surprised. But probably worth a try.

[2021-09-09 08:08] dsd commented on #53
Thanks for the reminder.
Yes, the above scheme will work just fine. Thanks for making such arrangements.
@dbnicholson please could you suggest an appropriate place where we could host such blacklist.

[2021-09-09 08:16] dsd commented on #53
Lets also nail down the setup here. This blacklist will have one entry per line.

Each entry is either:
 1. An article page name (e.g. `Make-Sex-Better`), in which case that article is excluded from the zim
 2. A category name (e.g. `Category:Sexual-Activity`) in which case all of the articles listed under that category, and the category page itself, are all excluded from the zim

Is that right?

[2021-09-09 08:18] rgaudin commented on #53
@dsd, absolutely. Please keep the english `Category:` prefix for all languages. And yes, images from those articles will be excluded as well.

I'll make a demo file so you can test

[2021-09-09 10:10] #57 closed, assigned to rgaudin

[2021-09-09 11:47] rgaudin opened #76 "Better handling of picture source"
[Source element](https://developer.mozilla.org/fr/docs/Web/HTML/Element/Source) can be quite complex as its role is to help the browser choose the most appropriate source for a `<picture />`, `<video />` or `<audio />`.

It is apparently sometimes used in WikiHow. Example use is the WH avatar on top of [Cook-Chips-in-an-Airfryer](https://www.wikihow.com/Cook-Chips-in-an-Airfryer)

For the sake of

[2021-09-09 12:45] dbnicholson commented on #53
Sure, we can just throw them in an S3 bucket. If you don't care about the URL, that's all that's needed. If you want a nicer domain, we can put a CDN in front of it.

[2021-09-09 13:09] rgaudin opened #77 "Bread crumb could break"
Bread crumbs links should include `{{ to_root }}` to work at any level (if article includes a `/` for instance).

[2021-09-09 13:51] rgaudin opened #78 "Remove link to author"
On top of article, there's the name of the author, with a link to its profile. As we don't include those, we should remove the link as well.

[2021-09-09 14:05] rgaudin opened #79 "Remove sidebar"
The sidebar is essentially redundant data that's only displayed on large screen to fill-up space.
It's not needed and requires additional visual tweaks.

[2021-09-09 15:55] kelson42 commented on #53
@dbnicholson We would appreciate a persistent/stable http or https link.

[2021-09-09 15:58] kelson42 commented on #76
Following my experience with MWoffliner, it might need a bit of logic to find the appropriate source. Important is that the video file resolution is not a lot lower than the display resolutuon.

[2021-09-09 16:00] rgaudin commented on #76
This ticket is about picture (see the title), not video. For picture, it is used apparently when wikiHow offers WebP with a fallback. There doesn't appear to be multiple resolutions but that's what needs to be checked in the ticket.

[2021-09-09 16:58] Popolechien commented on #52
Word from WikiHow folks:

"All of the images on our site that are not covered by wikiHow's CC license are marked with this template: https://www.wikihow.com/Template:WikiVisual. The videos on our site are also not released under the CC license"

[2021-09-10 04:07] dbnicholson commented on #53
They're persistent in S3. The difference is the domain isn't as pretty since it would be something like https://wikihow-denylists.s3.amazonaws.com. But I don't know what neutral domain is available for this. If you or someone else can manage the wikihow.com DNS we can put a CDN in front of it with a domain like https://denylists.wikihow.com.

[2021-09-10 04:27] kelson42 commented on #53
@dbnicholson It can be a "random" URL. No problem, because this is an internal thing. We can the keep the native S3 URL.

[2021-09-10 13:45] #54 closed, assigned to nobody

[2021-09-10 13:45] #71 closed, assigned to fadiga

[2021-09-10 13:45] #77 closed, assigned to fadiga

[2021-09-10 13:48] fadiga commented on #9
No need

[2021-09-10 13:48] #9 closed, assigned to fadiga

[2021-09-11 06:12] kevinmcmurtrie commented on #63
https://farm.openzim.org/pipeline/e1ac697d20a1f4242e4c8316 locked up at 100% CPU.  I'm disabling wikihow on pixelmemory.

[2021-09-11 06:38] kelson42 commented on #63
@rgaudin I hardly see how https errors returned by the wikihow backend could lead to a 100% cpu usage. To me there is a bug somewhere around this. Backend errors (or even timeouts) should reported and should lead to a stop os the scraper.

[2021-09-11 13:05] #70 closed, assigned to fadiga

[2021-09-11 13:27] kelson42 opened #83 "Videos on iOS not working"
Here at http://dev.library.kiwix.org/wikihow_fr_all_2021-09/c%C3%A9l%C3%A9brer-le-Nouvel-An-chinois

![7EA03DF4-529A-47F2-9697-DDB4BD748B82](https://user-images.githubusercontent.com/1029718/132949637-4eb9341b-8bf4-41ae-8f3f-943974ea2a69.png)

[2021-09-11 13:29] kelson42 opened #84 "Further simplify the welcome page"
If we are going to stay with only the list of categories on the welcome page, the we should better:
* have white background everywhere beetween header and footer
* Remove the category title/label
* Center the whole list nicely

[2021-09-11 13:34] kelson42 commented on #83
Here an other page with two occurrences of this bug:
http://dev.library.kiwix.org/wikihow_fr_all_2021-09/am%C3%A9liorer-son-temps-au-1-600-m%C3%A8tres

[2021-09-11 13:39] kelson42 opened #85 "Blank space in related links"
Here for example: http://dev.library.kiwix.org/wikihow_fr_all_2021-09/devenir-un-bon-coureur#Am.C3.A9liorer-la-vitesse-et-la-puissance

![D7693305-3CE8-49A9-AA44-77B289020DB9](https://user-images.githubusercontent.com/1029718/132949797-58eb1e82-9d4d-4309-9204-f02c6526aa08.png)

in comparison to original page: https://fr.wikihow.com/devenir-un-bon-coureur

![770876BE-98BD-4006-9263-7F26D19DCE0F](ht

[2021-09-11 13:43] kelson42 commented on #83
Might be a problem specific to iPad as videos seems not playable on my iPad. See here for example

![B1E1DC8F-9654-4035-A24F-611B9D457017](https://user-images.githubusercontent.com/1029718/132949959-d3e8f636-b82f-414e-bc69-79c36b700bfb.png)

[2021-09-11 14:27] rgaudin commented on #83
I don't remember we specifically tested videos on iOS. Might be the issue.

[2021-09-11 14:30] rgaudin commented on #85
There's no missing related. It's shifted one space. I remember we've seen that while implementing videos.

[2021-09-11 14:50] rgaudin commented on #84
Can you justify those requests ? This is not a page we built, this is the [Special:CategoryListing](https://www.wikihow.com/Special:CategoryListing) page that we decided to use as homepage because the actual homepages are custom, cluttered, with redundant info and tons of offline-useless stuff.

I'm not against improving it or building another one but this should be concerted/discussed. I personal

[2021-09-11 15:24] #78 closed, assigned to fadiga

[2021-09-11 15:33] kelson42 commented on #84
There is simply no reason to make a subsection if there is only one sub section in the whole page.

[2021-09-11 15:41] rgaudin commented on #63
@kelson42 there is nothing about HTTPS errors in this ticket. What are you referring to?
The initial report logs clearly shows incredibly slow transfers that could be explained by the throttling mechanism on wikihow, especially given we were running multiple scrapers from the same worker.
That was closed after we implemented platform limits on zimfarm.

This new report is about a single run using

[2021-09-11 15:46] kelson42 commented on #63
@rgaudin OK, so hypothesis is: same symptom but two different root causes. Usually the throttling of a Http server does not work on the bandwidth... but at http level. But why not, the implementation of the progression shoukd allow to see if the process is stuck or if this is just a legitimate computing running.

[2021-09-11 15:52] rgaudin commented on #84
- we are not *making a subsection*, we are displaying a wikiHow page. I imagine they know what they are doing.
- It makes it clear that the following list is a list of categories and not articles.

Again, no one's personal opinion is *just right* so getting someone else's like @Popolechien or actual users would ensure we're improving it.

[2021-09-11 16:21] rgaudin commented on #63
No, I didn't consider the CPU thing earlier, as there was this obvious network thing they warned us about.

No, I've seen both. HTTP 429 is widespread nowadays because it's easier (doesn't require involving network/admin people) but reducing bandwidth is more user friendly.

I'm not saying wikiHow is doing it this way; I don't know but network transfers were crazy slow until we limited the number

[2021-09-11 16:21] fadiga commented on #10
![IMG_5913](https://user-images.githubusercontent.com/354071/132954415-306f261a-f6ba-4a40-83be-7cb69b5a4eca.PNG)
![IMG_5914](https://user-images.githubusercontent.com/354071/132954423-3ab0a849-9a43-4dcd-a778-5d2141b389e6.PNG)
![IMG_5915](https://user-images.githubusercontent.com/354071/132954433-54017d74-f583-47af-b52a-4642e69951eb.PNG)
![IMG_5916](https://user-images.githubusercontent.com/354071/

[2021-09-11 16:22] #10 closed, assigned to fadiga

[2021-09-11 16:22] kevinmcmurtrie commented on #63
Locked up at 100% CPU means one thread in the wikihow process is using exactly 100% of one hardware thread.  It makes no kernel calls, logs, I/O, IPC, etc.  It can go for hours before it hops to different hardware thread.

These have also locked up at 0% CPU.

Logs hint that it happens while downloading, but it's hard to trace what it's doing when there are no kernel calls.  While these scrapers _

[2021-09-11 16:24] rgaudin commented on #63
OK, thanks for the details 👍

[2021-09-11 16:32] kelson42 commented on #84
I confirm that it does not respect basic page settings rules on the online version as well https://pt.wikihow.com/Especial:CategoryListing. Not sure how many versions of wikiHow are impacted.

[2021-09-12 07:00] kelson42 opened #86 "Publish package on pypi"
Via new github release event

[2021-09-13 08:16] dsd commented on #53
Thanks. The URL to use is https://s3.amazonaws.com/endlessm-storage/kiwix/wikihow-blocklist.txt
Added 2 sample entries, we will add more when we have a chance.

[2021-09-13 08:17] rgaudin commented on #53
👍

[2021-09-13 08:25] kelson42 commented on #53
@dsd Thx, this is a good start for wikiHow in English. Feel free to make other files for wikiHow in other languages - if needed.

[2021-09-13 16:22] rgaudin commented on #83
Was fixed in  #75 actually (WASM files needs a specific mimetype) but Safari displays some controls on those videos which is not visually OK so leaving it open for that.

[2021-09-14 16:08] dylanmccall opened #88 "Article thumbnails in category pages are missing titles"
In the wikihow zim file, it is possible to browse to a category page, such as http://dev.library.kiwix.org/wikihow_eng_all_2021-08/C/Category:Arts-and-Entertainment. A category page contains a long list of articles. However, the articles in this list are shown only as images. Their titles are not visible:

![Screenshot from 2021-09-14 09-02-56](https://user-images.githubusercontent.com/132063/1332

[2021-09-14 16:12] rgaudin commented on #88
Yep, we had that with English. Pretty sure it's been fixed but we haven't recreated the ZIM for English. Will do.

[2021-09-15 08:49] #32 closed, assigned to fadiga

[2021-09-15 10:45] #73 closed, assigned to rgaudin

[2021-09-15 11:36] #85 closed, assigned to fadiga

[2021-09-15 12:10] fadiga opened #91 "Crach in rewrite_pictures"
[code]

[2021-09-15 13:33] fadiga commented on #79
Instead of removing it, we decided to remove everything that is not controlled inside the sidebar.

[2021-09-15 14:07] #79 closed, assigned to fadiga

[2021-09-15 14:47] rgaudin commented on #83
It seems we can't remove it as it's added on purpose by the browser. As the visual impact is limited, I'm closing it. We can revisit that in the future if Safari policy evolves or someone finds a way.

**In Firefox**
<img width="900" alt="Screen Shot 2021-09-15 at 14 44 31" src="https://user-images.githubusercontent.com/57929/133455594-0f6ea5ca-2734-42af-bf53-1808be822258.png">

**In Safari**
<img

[2021-09-16 09:38] #91 closed, assigned to rgaudin

[2021-09-16 09:39] rgaudin commented on #76
Tests converge to the initial assessment: it's only a way to offer webP. We're using (converting) the fallback and removing the rest. Good enough.

[2021-09-16 09:39] #76 closed, assigned to nobody

[2021-09-16 09:41] #88 closed, assigned to nobody

[2021-09-16 15:36] #52 closed, assigned to nobody

[2021-09-16 15:36] #53 closed, assigned to rgaudin

[2021-09-22 04:05] kelson42 opened #94 "Many categories are missing in wikiHow TH"
This is visible from the welcome page. Following links are 404:
* http://dev.library.kiwix.org/wikihow_th_all_2021-09/%E0%B8%AB%E0%B8%A1%E0%B8%A7%E0%B8%94%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B9%88:%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%94%E0%B8%B9%E0%B9%81%E0%B8%A5%E0%B8%95%E0%B8%B1%E0%B8%A7%E0%B9%80%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%A3%E0%B8%AA%E0%B8%99%E0%B8%B4%E0%B8%A2%E0%B8%A1%E0%B8%AA%E

[2021-09-22 09:22] rgaudin commented on #94
https://farm.openzim.org/pipeline/0d8079bb61c325327dfe6316

[2021-09-24 04:14] kelson42 opened #95 "Latest wikihow DE has crashed"
https://farm.openzim.org/pipeline/19c6380759658897e0827416/debug

[2021-09-25 16:59] kelson42 commented on #83
On my iPad,  the very same problem os still although anew wikiHow ZIM file has been prepared 2 days ago.

![182A32F7-4585-45B2-88BA-1B538DB7C448](https://user-images.githubusercontent.com/1029718/134779944-c4b4244c-3fc9-41ad-b171-17136b81664a.png)

[2021-09-25 17:58] rgaudin commented on #83
iOS or iPadOS version please

[2021-09-25 18:15] kelson42 commented on #83
Ipados 14.7.1

[2021-09-26 04:25] kelson42 commented on #83
Upgraded to ipados 15.0. Which shoukd have webm support in safari... but same problem with both ff anf safari.

[2021-09-26 15:30] kelson42 commented on #83
Same bug (or related to) as https://github.com/openzim/youtube/issues/34.

[2021-09-27 11:03] rgaudin commented on #83
Hum, no. It's not supported in iOS15. Some *WebM audio* stuff got in but not the video as we want it. Fixing it though as it's a scraper issue

[2021-09-27 16:05] #95 closed, assigned to rgaudin

[2021-09-29 08:51] rgaudin opened #97 "Speed-up video processing when including Youtube videos"
`--without-videos` only prevent the Youtube ones from being processed and included but there are many regular videos anyway. Those regular videos are short and small-sized and easy to process.

Youtube ones can be huge and are retrieved from Youtube where exceeding a certain number of resource usage (requests? bandwidth ?) results in being banned for a period of time.

We thus need to process Yout

[2021-09-30 12:05] #94 closed, assigned to nobody

[2021-09-30 12:35] kelson42 commented on #63
@rgaudin Should we keep this ticket open? Looks like the scraper works well now that we have run one successfuly for each wikiHow!

[2021-10-01 06:57] kelson42 commented on #83
I believe the problem is not fully fixed, yesterday I came again a similar proble, but symptom slightly different:
![image](https://user-images.githubusercontent.com/1029718/135578478-39224780-c7ac-428c-8a1f-58e813ffb12a.png)

at https://dev.library.kiwix.org/wikihow_de_all_2021-09/meta

[2021-10-01 07:51] #63 closed, assigned to rgaudin

[2021-10-01 09:09] rgaudin commented on #83
Thanks @kelson42  ; I'm about to open a new ticket as to keep this one more focused

[2021-10-01 09:09] #83 closed, assigned to rgaudin

[2021-10-01 14:50] rgaudin opened #99 "Video issues on iOS"
As for our other scrapers, our video handling is mostly:

- Download from source: either file or Youtube
- Reencode to webM using FFmpeg
- Use `<video />` tag with appropriate attributes
- Use [video.js](https://videojs.com/) player
- Use [ogv.js](https://github.com/brion/ogv.js) with [videojs-ogvjs](https://github.com/hartman/videojs-ogvjs) plugin
- Configure video.js to use native (`html5`) engi

[2021-10-01 15:19] #86 closed, assigned to rgaudin

[2021-10-02 03:23] kevinmcmurtrie commented on #63
This is more of a general problem with the Python threading.  I've seen the ZIM scraper CPU graphs with stair steps down to 0% CPU as they lose workers.  The difference with the ZIM scrapers is that they develop a fatal memory leak once the workers are stuck/dead.  They're self-terminating but I had to kill the WikiHow scrapers manually.

The one thing that's different on my system is that scraper

[2021-10-03 10:04] kelson42 opened #100 "Remove advertisement widget"
See at https://fr.wikihow.com/faire-du-d%C3%A9sinfectant-pour-les-mains#quick_summary_section on the right sidebar.

[2021-10-03 10:14] ghost opened #101 "Wikihow en endless dies"
*@kelson42 commented on Oct 3, 2021, 10:05 AM UTC:*

[https://farm.openzim.org/pipeline/b535eb1a92acb871dde68516](https://farm.openzim.org/pipeline/b535eb1a92acb871dde68516)

*This issue was moved by [kelson42](https://github.com/kelson42) from [kiwix/kiwix-tools#486](https://github.com/kiwix/kiwix-tools/issues/486).*

[2021-10-03 10:14] ghost commented on #101
*@rgaudin commented on Oct 3, 2021, 10:11 AM UTC:*

wrong repo

[2021-10-03 11:08] MrTechHunter commented on #100
Hi mate 🙂,
Do you mean this?
![wiki](https://user-images.githubusercontent.com/59443165/135750945-aec0c4f8-18f2-4dea-960b-a4b2a0f7305d.jpg)

[2021-10-03 12:16] #100 closed, assigned to kelson42

[2021-10-03 12:22] MrTechHunter commented on #100
great, good luck! 👍

[2021-10-03 12:22] kelson42 commented on #100
Sorry, the ticket was invalid.

[2021-10-03 12:23] MrTechHunter commented on #100
No problem. Don't worry about it. 😊

[2021-10-07 12:42] #101 closed, assigned to rgaudin

[2021-10-11 09:26] kelson42 opened #102 "Links to author are not removed in articles"
With https://download.kiwix.org/zim/.hidden/endless/wikihow_en_endless_2021-10.zim

![image](https://user-images.githubusercontent.com/1029718/136766738-2cf73525-d7f3-4a4f-9cb6-f9ff46916c4d.png)

Here is the HTML:
[code]

[2021-10-11 10:14] #102 closed, assigned to rgaudin

[2021-10-12 11:24] rgaudin opened #103 "--category should tweak the home page"
`--category` option allows to create a selection of categories to include in a ZIM but the homepage is still copied from the full version ; so it's full of dead links.

When using `--category`, we should tweak or build the homepage to only include links to the selected categories.

[2021-11-25 11:13] Popolechien opened #104 "WikiHow zim files are definitely not using the correct logos / icons"
![Screenshot wikiHow](https://user-images.githubusercontent.com/21675885/143431429-ad04ce42-6859-4fdf-ab00-0b270533edf3.png)

[2021-11-25 11:14] rgaudin commented on #104
Shouldn't it be in wikihow repo ?

[2021-11-25 11:15] rgaudin commented on #104
But it looks like a reader/catalog issue actually as those icons are not random from the ZIM but from other ZIMs

[2021-11-25 11:17] rgaudin commented on #104
It's probably because wikihow ZIMs uses new Illustration and no favicon

[2021-11-25 11:17] rgaudin commented on #104
So I'd say it's a reader issue

[2021-11-25 11:17] rgaudin commented on #104
Sorry you'll have to move it again

[2021-11-25 11:17] Popolechien commented on #104
Could we fix it by forcing the wikiHow logo into the recipe?

[2021-11-25 11:20] Popolechien commented on #104
Not sure how much of a reader issue that is: I'm looking at library.kiwix.org (kiwix-serve) and the WikiHow zim files show no icon at all.
![Capture d’écran 2021-11-25 à 12 19 56](https://user-images.githubusercontent.com/21675885/143432383-9bfb1a4a-7ae9-4691-aa15-fdf655734c6e.png)

[2021-11-25 11:21] rgaudin commented on #104
No. The scraper already gets the proper icon and sets it properly. It's a *new ZIM*, using the new `Illustration_` metadata for the Icon. The problem is that the reader, which uses previous version is not aware of this. You'll notice that _old_ kiwix-serve doesn't displays it either while the current one (on dev-library) does.

[2021-11-25 11:27] Popolechien commented on #104
@kelson42 Not sure we can move the issue across projects (from openzim/wikihow to kiwix/kiwix-android)

[2021-11-25 16:48] kelson42 commented on #104
Which ZIM file is that? Do we know if this is a problem in the `library.xml` or in Kiwix-Android?

[2021-11-25 18:37] rgaudin commented on #104
have you read my comments ?

[2021-11-25 21:05] kelson42 commented on #104
@rgaudin yes, even 3 times now and my question stay unanswered. I need the exact filename to make my assessment.

[2021-11-25 21:36] Popolechien commented on #104
@kelson42 There has only been one run so the files and file names are those in https://download.kiwix.org/zim/wikihow/

wikihow_pt_maxi_2021-10.zim
wikihow_nl_maxi_2021-10.zim
wikihow_es_maxi_2021-10.zim
wikihow_ko_maxi_2021-10.zim

Interestingly, here is another screenshot of the same series taken at a different time - the icons have changed compared to my earlier screenshot:
![Screenshot_2021112

[2021-11-26 05:16] kelson42 commented on #104
@Popolechien thx.

[2021-11-26 05:20] kelson42 commented on #104
/move to kiwix/kiwix-android

[2021-11-26 06:57] kelson42 commented on #104
For some reason this ticket does not move... but it should. Config looks good.

[2021-11-26 07:48] rgaudin commented on #104
I don't know what else to say. Those ZIM have `Illustration_48x48` and thus no `-/favicon` entry. The library XML doesn't exposes those icons so there is no `favicon` property in those nodes.

kiwix-serve 3.1.2-5 understands there is no icon and thus displays no icon. We're aware of this ; it was discussed back in August. kiwix-android apparently isn't expecting this situation and is probably disp

[2021-12-27 14:59] kelson42 commented on #104
I will move the ticket to kiwix/kiwix-android

[2021-12-27 15:00] #103 closed, assigned to rgaudin

[2021-12-27 15:00] #104 closed, assigned to nobody

[2021-12-28 14:36] rgaudin opened #105 "Proper exit on exception"
Looking at https://farm.openzim.org/pipeline/56bc059eba0af2edac4e9c16/debug, it seems the process failed early and started shutdown but that didn't went through and the process kept going.

[2021-12-29 10:36] rgaudin opened #106 "Category page images now undersized"
Changes in wikihow's category pages makes all illustrations in category page look too small.

Due to a manual hack we introduced early to fix the category page
<img width="1065" alt="Screen Shot 2021-12-29 at 10 30 04" src="https://user-images.githubusercontent.com/57929/147653334-1a9f6863-3968-4ee4-8b29-ed59d115da47.png">

<img width="1057" alt="Screen Shot 2021-12-29 at 10 30 34" src="https://us

[2021-12-29 10:36] #106 closed, assigned to rgaudin

[2021-12-29 15:46] Adam7288 opened #107 "Stuck on "ensuring source site dom integrity" when command run"
language = en
stuck for 10 hours no progress
ctrl-d does nothing
have to open separate terminal and issue docker container stop command to actually exit

[2021-12-29 15:49] kelson42 commented on #107
@Adam7288 please share your exact command and the last 100 lines of the log would be helpful.

[2021-12-29 15:51] rgaudin commented on #107
Thanks ; I can not reproduce.

Can you please share the complete command you used? Using `--debug` you would get additional output that may lead to another cause.

In the mean time, you can also try the `--skip-dom-check` param.

[2021-12-29 19:20] Adam7288 commented on #107
root@docker1:~# docker run -v /truenas/wiki:/output openzim/wikihow wikihow2zim                                 --language en --debug
[MainThread::2021-12-29 19:19:51,070] INFO:Starting scraper with:
  language: English (www.wikihow.com)
  output_dir: /output
  build_dir: /www.wikihow.com_v_sqqvex
  categories: all
[MainThread::2021-12-29 19:19:51,070] INFO:Ensuring source site DOM Integrity
[Main

[2021-12-29 19:31] Adam7288 commented on #107
skip check fails at same step:

docker run -v /truenas/wiki:/output openzim/wikihow wikihow2zim --language en --debug --skip-dom-check
[MainThread::2021-12-29 19:31:13,746] INFO:Starting scraper with:
  language: English (www.wikihow.com)
  output_dir: /output
  build_dir: /www.wikihow.com_8su1e2h0
  categories: all
[MainThread::2021-12-29 19:31:13,746] DEBUG:Fecthing website metdata
[MainThread::

[2021-12-30 11:47] rgaudin commented on #107
Hum, I can't reproduce with the exact same command (except the volume binding of course). The most notable thing happening between this line and the next one (Adding illustration) is the initialization of the ZIM creator.

What platform are you on? Which docker version? Not that it should matter but I have no lead at the moment.

`docker system info` gives me `Server Version: 20.10.11`

[2021-12-30 15:16] Adam7288 commented on #107
Looks like because the file system I was using was mounted as nfs v3, it did not support file locking. Switched to nfs v4 and it worked. Possibly worth investigating supporting nfs v3 file locking. Or a disclaimer. Thanks for helping me work through this.

[2021-12-30 15:46] rgaudin commented on #107
Thanks ; glad you found the issue. I'm not sure we'd have much control with the scraper. We've already had issues with docker and NFS with the Zimfarm and ended-up avoiding it.

Looking at [the doc](https://docs.docker.com/storage/volumes/) it seems you may have better luck using the nfs driver.

[2021-12-30 15:46] #107 closed, assigned to rgaudin

[2022-01-05 15:25] mossroy opened #108 "Remove inline javascript to comply with some CSP"
It does not seem to block the main usage, but the following inline javascript seems to be in every page, and is blocked :

[code]

[2022-01-05 15:29] rgaudin commented on #108
I'll look into it but wikihow is different to other scrapers in that we mostly copy the *main* chunk of content from the online source and put it into the ZIM.

In other scraper, we usually manually pick what we're interested in and build a custom template from scratch.

Given the very flexible nature of the mediawiki behind wikihow, there can be inline JS inside articles…

[2022-01-28 05:21] kelson42 opened #109 "Release 1.1.0"
#106 seems a pretty important bug fix

[2022-01-31 14:40] erikos opened #110 "Support selecting the desired articles by passing a list"
Originally the plan was to use a bad list to exclude content we would not like to ship with the wikiHow content. This would mean to go through all of the content and select the inappropriate/not desired one - which has the risk of missing out some of it.

The other way round would be to actually go by a list of articles that should be included. Basically the other way round. This would give full c

[2022-02-03 13:17] rgaudin commented on #110
There are three different issues in here:

- Only including articles from a whitelist is fairly straightforward. We'd assume a similar format as for the blacklist: one article-path per line. `Category:` prefixed includes the whole category (including subcategories), `Category:` prefixed but ending with a `/` doesn't includes the sub categories.
- Expert-reviewed filtering is a completely different

[2022-02-03 14:10] erikos commented on #110
The part about the _Expert-reviewed_ filtering was a bit misleading to have added here. We do not need this for now, as this can be done by the ones putting the good list together.

[2022-02-03 14:43] rgaudin commented on #110
OK, so the objective is not actually to build the ZIM file from a list of selected articles (as it is done in mwoffliner) but instead to add an additional filter on top of the general one (categories mostly).

As we have the `--exclude` param for excluding found articles, this would introduce a `--only` param.

Scraping would not be altered but addition to ZIM would be conditioned to the presence

[2022-02-03 22:12] dylanmccall opened #112 "The "Cars & Other Vehicles" category is not scraping correctly"
The "wikihow_en_endless_cars-and-other-vehicles" recipe on farm.openzim.org is producing an empty zim file as output:

https://farm.openzim.org/recipes/wikihow_en_endless_cars-and-other-vehicles

One noteworthy difference between this WikiHow category and others is that this one has a special character in the category name: `Cars-%26-Other-Vehicles`.

[2022-02-04 06:01] kelson42 commented on #112
@dylanmccall Probably a configuration problem. I will check.

[2022-02-04 06:51] kelson42 commented on #112
@rgaudin It seems to still fail. Looks like some kind of URL encoding bug, or filtering bug.

[2022-02-04 09:38] #112 closed, assigned to rgaudin

[2022-02-04 14:03] #110 closed, assigned to rgaudin

[2022-02-04 14:13] rgaudin opened #114 "Remove references to not-included articles"
With three filtering systems in place: `--category`, `--exclude` and `--only`, there are many ways for a ZIM to point to an article that is not present.

The actual behavior of the ZIM depends on where the _link_ appear and what filtering system was used:

- Category pages keep the article block but remove the `href` from the link. Only hovering over the block can the user understand (pointer icon

[2022-02-04 17:16] erikos commented on #114
For the category page when an article is not present the card should be removed rather than kept around. For the user it is not obvious why the card is there but not pointing to an article. Even if this is not the same experience as clicking on a link/card and then finding out that the article is not present. At least in this case the user gets some feedback - the article is not present.

[2022-02-04 18:50] erikos commented on #114
Yes, we should have a harmonized behavior when there are missing links. The card/block should be removed in this case. For example the article card in the _Category page_ or the card in the _You might also like_ section when the article is not present.

 One thing to note here is that for example for the _Author section_ it would be good to keep that information around. Even though we do not inclu

[2022-02-04 19:09] rgaudin commented on #114
Thank you; that makes sense

[2022-02-05 04:27] dylanmccall commented on #112
This looks good now. Thank you!! :)

[2022-02-05 06:56] kelson42 commented on #108
@rgaudin  an we easily secure that our code at least does not have inline js? I’m not sure about the frequency of in,ine js in WikiHow code?

[2022-02-05 06:58] kelson42 commented on #109
@Maybe 1.1.0 would be more appropriate considering the amount of change in the current milestone.

[2022-02-07 14:31] rgaudin opened #115 "Use an expected list"
In order to implement #114, we need the following modifications to the scraper:

- [x] build an `expected_articles` list/set using MW API, based on requested categories, `--only` and `--exclude`.
- [x] Skip articles scraping for those not in the list
- [x] Update rewriter to work off this new list instead of the current combination of options
- [x] Update rewriter to remove card or all missing lin

[2022-02-08 14:47] #108 closed, assigned to nobody

[2022-02-08 14:49] rgaudin commented on #108
@mossroy I've removed our part but many pages have inline JS. Though it should be mostly harmless to just ignore them.

[2022-02-08 14:55] mossroy commented on #108
Thanks!
Let me know when we can test with a new ZIM file

[2022-02-08 20:47] kelson42 commented on #108
@mossroy I have restarted https://farm.openzim.org/pipeline/3d47bde79fa420ce696d2026

[2022-02-10 15:51] erikos commented on #114
When the articles are removed from the category pages and other places will the grid reflow? Or will we have gaps?

[2022-02-10 15:52] rgaudin commented on #114
There won't be gaps ; card would move along

[2022-02-10 15:53] erikos commented on #114
Perfect! :)

[2022-02-28 13:08] #114 closed, assigned to fadiga

[2022-02-28 13:08] #115 closed, assigned to fadiga

[2022-02-28 15:10] rgaudin opened #117 "Must handle ConnectionTimeout in API requests"
All tasks are failing on zimfarm after getting a ConnectionTimeout during the many API calls to build the expected articles list.

The first two failing happened to have run for 20mn. Maybe there's some kind of throttling…
We should abstract those calls to pause on timeout and retry

https://farm.openzim.org/pipeline/c63f5eba0f1fd2bfc8adc126/debug

[2022-02-28 15:40] #105 closed, assigned to fadiga

[2022-03-01 08:09] rgaudin opened #118 "Incorect homepage for single category"
In this [run](https://farm.openzim.org/pipeline/0e8f5e46f1cd320887dec126/debug) the scraper was launched with `--category Cars-&-Other-Vehicles` but the resulting ZIM have a _fullmode-like_ homepage instead of using the category

[2022-03-01 11:33] #118 closed, assigned to fadiga

[2022-03-01 15:55] #117 closed, assigned to fadiga

[2022-03-01 16:32] rgaudin opened #119 "Don't crash on Image: articles"
Category `Computers-and-Electronics` includes Article [`Image:Excel_step5jpg.JPG`](https://www.wikihow.com/Image:Excel_step5jpg.JPG).

We haven't seen such article before and our expectation of what an Article is (in terms of HTML source) is thus incorrect and the process fails.

[code]

[2022-03-02 14:46] #119 closed, assigned to rgaudin

[2022-03-02 19:28] kelson42 opened #120 "ERROR:object of type 'NoneType' has no len()"
https://farm.openzim.org/pipeline/98e17e22b04c5a6adf0bf126/debug

[code]

[2022-03-03 07:36] #120 closed, assigned to nobody

[2022-03-04 09:18] mossroy commented on #108
This pipeline has failed.
Do we have another newly-generated wikihow ZIM that would include this fix, so that we can test it with kiwix-s?

[2022-03-04 09:21] rgaudin commented on #108
https://farm.openzim.org/pipeline/29564ac9bd2ef43c1fe70226

[2022-03-04 11:26] mossroy commented on #108
Thanks @rgaudin ! I confirm the issue is fixed in this wikihow ZIM file.
I could browse the content (including some with videos), and did not see any blocked inline javascript in Chromium console, with kiwix-js as an extension.

By the way, I opened some very similar issues on other scrapers. See the list in https://github.com/kiwix/kiwix-js/issues/789#issuecomment-1005765006
I know it's some work

[2022-03-17 22:36] kelson42 commented on #109
@rgaudin can we close that one?

[2022-03-18 06:15] #109 closed, assigned to rgaudin

[2022-03-18 06:16] rgaudin commented on #109
Forgot there was a ticket

[2022-03-19 06:23] kelson42 opened #121 "Full wikihow triggers block"
https://farm.openzim.org/pipeline/2e20106943b8f39a67434326

[2022-03-19 14:08] kelson42 commented on #121
Similar scenario for Wikihow PT, just dies at the very end https://farm.openzim.org/pipeline/e52110095e40a4ec5c222326/debug

[2022-03-19 19:17] rgaudin commented on #121
Nothing like “just dying at the very end”. What made you think that?

We're hitting wikihow's traffic protection mechanism: when getting too many requests, the server stops accepting connections so we're getting timeouts.

The code which ran PT (I changed it between ES and PT) already has a large number of retries (10) with a large increasing sleep time in between (30s * attempt-nb). This means th

[2022-03-19 20:05] kelson42 commented on #121
@rgaudin Agree

[2022-03-22 09:29] kelson42 commented on #121
WikiHow ES passes with 2/2 delays

[2022-03-22 09:45] #121 closed, assigned to rgaudin

[2022-03-25 04:34] kelson42 opened #122 "ConnectionError during Wikihow EN"
https://farm.openzim.org/pipeline/ad8f00f13cf0d042e9699326/debug

[IMG-T-2::2022-03-24 19:20:22,978] DEBUG:Attempting download of S3::https/www.wikihow.com/images/thumb/6/6c/Have-a-Good-Night-Sleep-in-a-Slumber-Party-Step-15-Version-2.jpg/-crop-127-140-127px-Have-a-Good-Night-Sleep-in-a-Slumber-Party-Step-15-Version-2.jpg into ZIM::images/3100328163--crop-127-140-127px-Have-a-Good-Night-Sleep-in-a

[2022-03-25 08:25] rgaudin commented on #122
Hum, I wonder why the domain to the failing connection is `www.wikihow.health`…

[2022-03-25 08:53] kelson42 commented on #122
@rgaudin Yes... really strange

[2022-05-02 09:03] rgaudin commented on #122
We'd probably have better luck (and less maintenance) using [backoff](https://github.com/litl/backoff) to orchestrate our retries. It's a lot more flexible that urllib's mechanism and simpler than reimplementing obviously. If proven successful here, we could maybe replace the urlib version we have on scraperlib as well.

[2022-05-15 05:10] kelson42 opened #123 "wikihow tr loops over same subcat while building categories list"
See https://farm.openzim.org/recipes/wikihow_tr_maxi

[2022-05-16 15:58] rgaudin commented on #123
I know it's not always possible but please try and provide better title/description of issues otherwise issue's history won't be much useful.

[2022-05-16 16:04] #123 closed, assigned to rgaudin

[2022-05-16 17:26] kelson42 opened #124 "Latest WikiHow in Thai is almost empty"
See:
![image](https://user-images.githubusercontent.com/1029718/168649058-c8d0f685-2d88-4098-869b-55244e85398d.png)

If you look at https://library.kiwix.org/wikihow_th_maxi_2022-04/, it seems that none of the articles have been scraped!

[2022-05-16 17:32] kelson42 commented on #124
If I look to the code, it seems that if the HTTP 404 limt is reached, the process does not stop... but just continues:
[code]

[2022-05-17 10:29] rgaudin commented on #124
Worked 3 months ago (4GiB). Tested a few of those missing links. Seems to work. Let's reschedule it and see how it goes.

[2022-05-17 15:16] kelson42 commented on #124
@rgaudin already restarted, bit scraper should stop if too many 404.

[2022-05-17 15:20] rgaudin commented on #124
The problem is that many articles ; especially now that we loop on the list of articles returned by the API; are 404 and we have no idea how many should be the threshold if a threshold should be used at all. I am not sure how that feature can be useful.

[2022-05-18 08:20] kelson42 commented on #124
We probably should make a threshold based on a percentage of failure over the total number of articles.

[2022-05-19 04:59] kelson42 commented on #124
New run has exactly the same problem https://farm.openzim.org/pipeline/ac55d1ebc98ea2bc2da82826

[2022-05-19 10:21] #124 closed, assigned to rgaudin

[2022-05-19 10:22] rgaudin commented on #124
Thank you ; it was not network related. the previously successful run happened before the change in articles list building. Fixed.

[2022-05-19 13:56] kelson42 opened #125 "Stop the scrape if too many 404"
We probably should make a threshold based on a percentage of failure over the total number of articles.

[2022-05-19 13:57] rgaudin commented on #125
What percentage should it be? Should it be configurable?

[2022-05-19 13:58] kelson42 opened #126 "WikiHow pt 30% smaller between Feb and May"
Look at https://download.kiwix.org/zim/wikihow/

Wikihow PT for example
https://files.slack.com/files-pri/T41CNGNKF-F03GJ1UV7DX/image.png

[2022-05-19 14:00] kelson42 commented on #125
Configurable, yes. 0% per default.

[2022-05-19 14:15] rgaudin commented on #126
The February one was before the 1.1.0 release which completely changed the way we discover articles.

Looking at the log, I see many 404 on Articles with encoded characters so I'd advise you re-run it using #124's fix. Should it be the reason for the change, we should then re-run them all.

[2022-05-19 14:16] holta commented on #126
Thanks for posting this for investigation.
Possibly the failure of all top-level links in the March wikiHow below...might be related?

Every link is broken within the 19 category pages under:
http://iiab.me/kiwix/wikihow_fr_maxi_2022-03/ (8.3G)

Whereas these links all worked fine a month prior:
http://iiab.me/kiwix/wikihow_fr_maxi_2022-02/ (15G)

[2022-05-19 14:20] rgaudin commented on #126
Not sure to understand what you mean by **top-level links**. Please share complete URLs. I could easily find missing articles in there though ; all of which included encoded chars in their paths so this may be related.

[2022-05-19 14:52] kelson42 opened #127 "Latest wikihow tr makes only 40MB"
https://farm.openzim.org/pipeline/680d02ebc98ea2bcf52f4826

[2022-05-19 15:11] rgaudin commented on #127
I believe this is not using the latest version:

**From this run**

[code]

**Using master code**

[code]

Now I have no idea how this is possible since it pulled the image today at 11:22 and the image was updated today about an hour earlier… I've checked with online image and it's serving the new code…

So please re-run this recipe.

[2022-05-19 15:15] rgaudin commented on #127
Marking this as duplicate of #126

[2022-05-19 15:15] #127 closed, assigned to nobody

[2022-05-19 20:55] holta commented on #126
http://iiab.me/kiwix/wikihow_fr_maxi_2022-03/ (8.3G)

- Click on any of the 19 category pages above
- Click any link under `Articles dans la catégorie :` (every such link, on all pages, appears broken!)

Whereas all such links worked in the prior month below:

http://iiab.me/kiwix/wikihow_fr_maxi_2022-02/ (15G)

[2022-05-19 21:00] holta commented on #126
CORRECTION/CLARIFICATION:

I clicked on ~20 such links and the majority were broken links.

(Click randomly on the 19 category pages, and you will see!)

[2022-05-20 10:33] rgaudin commented on #126
OK, that matches what I encountered. Thanks for confirming, I was afraid we were not looking at the same thing.

[2022-05-20 12:25] #125 closed, assigned to nobody

[2022-05-22 17:23] holta commented on #126
The [18G ZIM file published yesterday](https://download.kiwix.org/zim/wikihow/wikihow_fr_maxi_2022-05.zim) appears perfect:

http://iiab.me/kiwix/wikihow_fr_maxi_2022-05/

Thanks for the fix(es), which hopefully also help wikiHow in other languages too !

[2022-05-23 07:37] rgaudin commented on #126
Yes, it was a generic fix. Thank you for reporting it

[2022-05-23 07:37] #126 closed, assigned to nobody

[2022-05-23 16:35] kelson42 opened #128 "Missing article on wikiHow DE"
Bug seems reproducable, see:
* https://farm.openzim.org/pipeline/62b072ebc98ea2bcead0b826/debug
* https://farm.openzim.org/pipeline/291c62ebc98ea2bc50c1a826/debug

I suspect at the end, somhow fails to finish the scraping process.

[2022-05-23 16:41] kelson42 opened #129 "wikiHow EN doesn't pass DOM Integrity Check anymore"
[code]

From https://farm.openzim.org/pipeline/cd5de1784190c1163d039826/debug

[2022-05-24 09:26] rgaudin commented on #128
It's not a bug, the API is returning an article that is missing (404), as clearly indicated in the log:

[code]

You can check [API output](https://de.wikihow.com/api.php?action=query&generator=categorymembers&gcmtitle=Kategorie:Rezepte&gcmtype=page&prop=info&inprop=url&format=json&gcmcontinue=page|424553414e204c41444f4f205a55424552454954454e|67219) ; including a screenshot as this link is paginat

[2022-05-24 09:26] #128 closed, assigned to rgaudin

[2022-05-24 09:30] rgaudin commented on #129
Again, please use better titles for issues. This one is pretty clear: the DOM has changed on wikiHow EN and the scraper halts itself.

[2022-05-25 16:16] #129 closed, assigned to nobody

[2022-05-25 16:18] rgaudin commented on #129
EN added a new Top categories on top of CategoryListing.

Fixed the selector to match the other links on regular and EN.

<img width="1098" alt="Screen Shot 2022-05-25 at 15 38 58" src="https://user-images.githubusercontent.com/57929/170310238-942981df-d113-4c8b-8369-5bd6457c0cb5.png">

[2022-05-26 11:57] kelson42 opened #130 "Better handle articles which ar in Q&A quarantine"
This ticket follows comment by @rgaudin at https://github.com/openzim/wikihow/issues/128#issuecomment-1135643216.

In a nutshell, the WikiHow API list articles which are not availble for us to scrape. This leads to HTTP 404 error at scraping time. The whole leads to confusion and complex HTTP error handling.

Based on article `Bhatura-zubereiten` of WikiHow in German which is listed by the API but

[2022-05-26 12:01] kelson42 commented on #130
For the moment, the only ways to identify such articles (I know about) are:
* Parse the HTML of https://de.wikihow.com/Bhatura-zubereiten and identify for example the sentence "Sorry, dieser Artikel wird zur Zeit von unserer Qualitätskontrolle überarbeitet".
* Parse the HTML of  https://de.wikihow.com/Bhatura-zubereiten and see if there is a class `section_text pagepolicy` but not sure this class

[2022-05-26 12:02] kelson42 commented on #130
@rgaudin Would that be an appropriate worflow:
* Try to scrape
* If 404, then check if this is not an article in Q&A
* If "yes" just continue and ignore, otherwise increment the 404 counter

[2022-05-26 12:03] rgaudin commented on #130
Ah! Thanks for looking into this. Indeed, using Google translate, I now understand what's going on. Agrees with way forward

[2022-05-28 07:30] kelson42 opened #131 "Wikihow scrape stuck at the end"
https://farm.openzim.org/pipeline/244f72ebc98ea2bc6cc5e826/debug

[2022-05-28 08:50] rgaudin commented on #131
Nope, the scraper exited with `1` and the reason is visible in the log:

[code]

We'll need to implement #130 ASAP I suppose

[2022-06-05 05:30] kelson42 opened #132 "Homepage added twice"
See for example, latest scrape failing:
* https://farm.openzim.org/pipeline/f4b7462229ac4b69caa27926/debug
* https://farm.openzim.org/pipeline/f57dc9381c397a46ce8da926/debug

[2022-06-22 16:21] #132 closed, assigned to rgaudin

[2022-06-25 14:30] kelson42 commented on #131
Sorry, but I have to reopen the ticket, see https://farm.openzim.org/pipeline/c05ec6889473fadf262c6b26/debug

[2022-06-27 11:19] rgaudin commented on #131
Don't be sorry! Though I see no ground for reopening this issue.

[code]

We still need #130…

Please reopen if I didn't understand what you meant.

[2022-06-27 11:19] #131 closed, assigned to rgaudin

[2022-06-29 17:19] holta opened #133 "Latest wikiHow (en) has a lot of broken links"
Regarding: https://download.kiwix.org/zim/wikihow/wikihow_en_maxi_2022-01.zim

It has many broken links.  For example almost 50% of the category links fail when clicking from http://iiab.me/kiwix/wikihow_en_maxi_2022-01/ trying to reach these missing pages:

- http://iiab.me/kiwix/wikihow_en_maxi_2022-01/Category:Guitar-Chords-and-Songs
- http://iiab.me/kiwix/wikihow_en_maxi_2022-01/Category:Drivi

[2022-06-29 17:38] holta commented on #133
Is this prior issue possibly related?

- #126

[2022-06-30 09:55] rgaudin commented on #133
@holta this ZIM is definitely too old and needs to be recreated. Many fixes have been introduced since.

It failed due to #130 which I will address shortly.

[2022-06-30 09:55] rgaudin commented on #133
Closing this as a duplicate then ; please subscribe to #130

[2022-06-30 09:55] #133 closed, assigned to rgaudin

[2022-06-30 13:24] holta commented on #133
Really great news!

Thank you @rgaudin.

[2022-07-06 13:14] #130 closed, assigned to rgaudin

[2022-07-06 13:15] rgaudin commented on #130
We'll have to make sure it fixes it properly for all languages though…

[2022-08-02 16:39] rgaudin opened #134 "Prevent duplicate categories/articles"
Should an article (I suppose) or a category (as described below) be referenced twice in a way that will be normalized to the same URL, we end up we a duplicate ZIM entry.

Here:

- Category: `Arbeit & Arbeiten`
- Category: `Arbeit-&-Arbeiten`

from [wikihow_de_all](https://farm.openzim.org/pipeline/1db100d0a26b4df43afc2e26/debug)

[code]

[2022-08-03 07:15] rgaudin commented on #134
Fixed via ea7b974

[2022-08-03 07:15] #134 closed, assigned to rgaudin

[2022-08-04 14:35] kelson42 opened #135 "Implement keep-alive HTTP header"
To avoid to create for each new request a new HTTP connection. This might help to avoid connection errors with this scraper.

[2022-08-05 09:46] #135 closed, assigned to rgaudin

[2022-09-04 11:30] kelson42 opened #137 "wikihow2zim: error: argument --missing-article-tolerance: invalid int value: '1.0'"
https://farm.openzim.org/pipeline/93611dfe0631cbc8e5884136/debug

[2022-09-05 11:53] rgaudin commented on #137
That's a zimfarm issue. Kinda strange we never encountered it elsewhere before. Fixed via https://github.com/openzim/zimfarm/commit/941c9093447676eb8465e3ea5a9584a7df593c5c

[2022-09-05 11:53] #137 closed, assigned to rgaudin

[2022-09-15 16:35] kelson42 opened #138 "Unable to retrieve image in CSS leads to crash"
[MainThread::2022-09-15 03:50:19,917] DEBUG:> checking CategoryListing
[MainThread::2022-09-15 03:50:20,448] DEBUG:> checking Category Page
[MainThread::2022-09-15 03:50:20,759] DEBUG:> checking Article Page
[MainThread::2022-09-15 03:50:21,364] DEBUG:Fetching website metdata
[MainThread::2022-09-15 03:50:22,064] DEBUG:homepage_name: Main-Page
category_prefix: Category
url_special_category: Specia

[2022-09-16 16:23] #138 closed, assigned to nobody

[2022-09-20 05:53] kelson42 opened #139 "TypeError: 'NoneType' object is not callable"
Exception ignored in: <function MagicDetect.__del__ at 0x7fe40facdb80>
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/magic.py", line 308, in __del__
  File "/usr/local/lib/python3.8/site-packages/magic.py", line 135, in close
TypeError: 'NoneType' object is not callable

From https://farm.openzim.org/pipeline/7868c92ab725f3774a725236/debug

[2022-09-20 05:54] kelson42 commented on #122
@rgaudin I wonder if we should still do something, or do more, on this tocket?

[2022-09-20 09:26] rgaudin commented on #122
This is anterior to the keepalive change. It may not be required anymore. Closing. We can still reopen if the problem appears again

[2022-09-20 10:49] rgaudin commented on #139
Actually, this is not the cause of the error but a side effect.

[code]

503 errors happens from time to time, especially on long-lasting runs. Reopening #122 to at least add a pause+retry on 503 errors instead of just giving up.

[2022-09-20 10:49] #139 closed, assigned to rgaudin

[2022-09-20 10:50] rgaudin commented on #122
Not connections error per say but 503 errors happens from time to time, especially on long-lasting runs. We need at least a pause+retry on 503 errors instead of just giving up.

[2022-09-24 17:58] kelson42 opened #140 "TypeError: 'NoneType' object is not callable"
https://farm.openzim.org/pipeline/a15bc951c0252ca55c725236

[code]

[2022-09-24 18:00] #140 closed, assigned to rgaudin

[2022-09-24 18:00] rgaudin commented on #140
Duplicate of #139

[code]

Issue is #122

[2022-09-29 16:23] #122 closed, assigned to rgaudin

[2022-10-19 13:41] rgaudin opened #141 "Retry backoff too short"
In `wikihow_en_endless`, an article raised a 503 Error and the backoff mechanism triggered but the delays are way too short for what we want

[code]

[2022-10-31 11:09] #141 closed, assigned to rgaudin

[2022-11-15 10:23] rgaudin opened #142 "Handle 429 responses"
WikiHow (EN at least) is now returning 429 HTTP responses at some point. Lastest [wikihow_en_endless](https://farm.openzim.org/pipeline/56dd1a330a7ea422dbecf536/debug) run encountered this after 10days of scraping.

Scraper started receiving some 429 errors about 40mn earlier on images but the scraper doesn't halt on failing images.
It eventually hit a page which was retried after 1mn, 4mn, 7mn, 1

[2022-11-21 12:03] #142 closed, assigned to nobody